{% extends 'base.html' %}

{% block content %}
    {% load static %}
<!-- Page Content -->
<div class="container-fluid">

    <section id="about">

        <div class="row bg-light">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mx-auto">
                <div>
                    <h1 class="text-center">Who We Are</h1>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row bg-light">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-4">
                <div class="p-1">
                    <h1>Login2Learn (Small Bio To be Inserted Here)</h1>
                </div>
                <div class="p-1">
                    <p class="text-justify text-wrap">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur felis ligula, imperdiet sit
                        amet molestie quis, facilisis eu est. Mauris ultrices eget ante nec ultricies. Praesent quis
                        neque dignissim, congue lorem nec, egestas metus. Duis eleifend lectus in mi molestie imperdiet.
                        In hac habitasse platea dictumst. Sed convallis justo vel erat accumsan pellentesque. Vivamus
                        eget sapien imperdiet, mattis diam dignissim, bibendum nisl. In tempus erat et elit interdum
                        luctus. Nulla vestibulum scelerisque nisi.
                    </p>
                    <p class="text-justify text-wrap">
                        Nam vulputate, purus ut rutrum mattis, elit justo tincidunt justo, vel varius dolor purus eu
                        tellus. Maecenas efficitur nisl viverra condimentum blandit. Nulla pharetra ornare enim. Sed id
                        tempus magna. Donec tristique congue elementum. Morbi faucibus mauris diam, et varius eros
                        vehicula sed. Nunc eros ipsum, tempus et ligula at, iaculis pellentesque risus. Duis ullamcorper
                        ex id enim posuere, at fringilla eros suscipit. Duis iaculis sapien sit amet sagittis lobortis.
                        Pellentesque vulputate, dui ut egestas varius, massa odio maximus mauris, et auctor ante dui sit
                        amet erat. Mauris aliquam nisl felis, in rhoncus lacus auctor id.
                    </p>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-4">
                <img class="img img-fluid rounded-circle shadow" src="http://placehold.it/640x640"/>
            </div>
        </div>
    </section>

</div>
<!-- /.container -->
{% endblock %}