{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <!-- Page Content -->
    <div class="container-fluid">

        <section id="about">

            <div class="row bg-light">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mx-auto">
                    <div>
                        <h1 class="text-center">Who We Are</h1>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="row bg-light">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-4">
                    <div class="p-1">
                        <h1>Login2Learn (Small Bio To be Inserted Here)</h1>
                    </div>
                    <div class="p-1">
                        <p class="text-justify text-wrap">
                            Login2Learn, established in 2020, is one of Ireland’s most accessible services for online
                            tutoring for Secondary level students.
                        </p>
                        <p class="text-justify text-wrap">
                            Founded by Calum O’Brien, a mechanical engineer & experienced grinds teacher, Login2Learn’s
                            initial aim was to provide effective online tutoring during the Covid-19 pandemic for
                            students who Calum had already been working with.
                        </p>

                        <p class="text-justify text-wrap">
                            Since then, our aim has changed – as we hope to provide easily-accessible learning support
                            to all those who require it.
                        </p>

                        <p class="text-justify text-wrap">
                            Through experience and student feedback, we have devised study aids for each curriculum
                            which guide our students in exam-focused learning.
                        </p>

                        <p class="text-justify text-wrap">
                            We look forward to helping you improve your skills, and ultimately find exam success.
                        </p>

                        <h3><i>Mise le meas,</i></h3>
                        <br/>
                        <h4>Calum O'Brien</h4>
                        <h5 class="text-black-50">Founder</h5>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-4">
                    <img class="img img-fluid rounded-circle shadow" src="http://placehold.it/640x640"/>
                </div>
            </div>
        </section>

    </div>
    <!-- /.container -->
{% endblock %}