{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <!-- Page Content -->
    <div class="container-fluid">

        <section id="about" class="p-2">

            <div class="row bg-light">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mx-auto">
                    <div>
                        <h1 class="text-center">Who We Are</h1>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="row bg-light">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-4">
                    <div class="p-1">
                        <h1>Login2Learn</h1>
                    </div>
                    <div class="p-1">
                        <p class="text-justify text-wrap">
                            Login2Learn, established in 2020, is one of Ireland’s most accessible services for online
                            tutoring for Secondary level students.
                        </p>
                        <p class="text-justify text-wrap">
                            Founded by Calum O’Brien, a mechanical engineer & experienced grinds teacher, Login2Learn’s
                            initial aim was to provide effective online tutoring during the Covid-19 pandemic for
                            students who Calum had already been working with.
                        </p>

                        <p class="text-justify text-wrap">
                            Since then, our aim has changed – as we hope to provide easily-accessible learning support
                            to all those who require it.
                        </p>

                        <p class="text-justify text-wrap">
                            Through experience and student feedback, we have devised study aids for each curriculum
                            which guide our students in exam-focused learning.
                        </p>

                        <p class="text-justify text-wrap">
                            We look forward to helping you improve your skills, and ultimately find exam success.
                        </p>

                        <h4><i>Mise le meas,</i></h4>
                        <br/>
                        <h5>Calum O'Brien</h5>
                        <h6 class="text-black-50">Founder</h6>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-4">
                    <div class="m-auto d-flex align-items-center">
                        <div class="m-auto d-inline-flex p-2">
                             <img class="img img-fluid rounded-circle shadow" src="http://placehold.it/480x480"/>
                        </div>

                    </div>

                </div>
            </div>
        </section>

    </div>
    <!-- /.container -->
{% endblock %}