{% extends 'base.html' %}

{% block title %}{% block.super %} | FAQs{% endblock %}
{% block content %}
    {% load static %}
    <!-- Page Content -->
    <div class="container-fluid">

        <section id="faq" class="p-2">
            <div class="row bg-light p-3">
                <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 mx-auto align-items-center">
                    <div class="mx-auto text-center p-2">
                        <h2>Frequently Asked Questions (FAQs)</h2>
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="row bg-light pb-5">
                <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 mx-auto align-items-center">
                    <div class="p-3 m-3" id="accordion" style="min-height: 60vh;">
                        <div class="card shadow">
                            <div class="card-header bg-warning" id="headingOne">
                                <h4 class="mb-0">
                                    <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link"
                                            data-target="#collapseOne" data-toggle="collapse">
                                        <b class="text-dark">How can I benefit from using Login2Learn?</b>
                                    </button>
                                </h4>
                            </div>

                            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion"
                                 id="collapseOne">
                                <div class="card-body">
                                    Whether you are looking to improve your understanding of fundamentals, or gain
                                    that extra knowledge to achieve the grade you want – Login2Learns innovative system
                                    can provide you with the resources you need to further your skills in the build up
                                    to your exams.
                                </div>
                            </div>
                        </div>

                        <div class="card shadow">
                            <div class="card-header bg-warning" id="headingTwo">
                                <h4 class="mb-0">
                                    <button aria-controls="collapseTwo" aria-expanded="false"
                                            class="btn btn-link collapsed"
                                            data-target="#collapseTwo" data-toggle="collapse">
                                        <b class="text-dark">How does the Login2Learn system work?</b>
                                    </button>
                                </h4>
                            </div>
                            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion"
                                 id="collapseTwo">
                                <div class="card-body">
                                    On enrolment to Login2Learn, you will be asked to fill out our screening form.
                                    This will allow us to provide you with a tailored study plan to suit your need. You
                                    will be given access to the video tutorials across our platform in your chosen
                                    subject. Each video tutorial will be accompanied by exercise sheets for the student
                                    to attempt. Each video tutorial will also be closely linked with exam question
                                    solutions – creating a strong link between fundamental knowledge and the application
                                    of this to an exam style problem.
                                </div>
                            </div>
                        </div>

                        <div class="card shadow">
                            <div class="card-header bg-warning" id="headingThree">
                                <h4 class="mb-0">
                                    <button aria-controls="collapseThree" aria-expanded="false"
                                            class="btn btn-link collapsed" data-target="#collapseThree"
                                            data-toggle="collapse">
                                        <b class="text-dark">Can I enrol if I am not in an examination year?</b>
                                    </button>
                                </h4>
                            </div>
                            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordion"
                                 id="collapseThree">
                                <div class="card-body">
                                    Yes. Login2Learn’s content can be used to help all second level students in their
                                    studies.
                                    The Junior Certificate Coursework packs can be used by 1st, 2nd & 3rd year students.
                                    Similarly, the Leaving Certificate Coursework packs can be used by transition, 5th &
                                    6th year students.

                                </div>
                            </div>
                        </div>

                        <div class="card shadow">
                            <div class="card-header bg-warning" id="headingFour">
                                <h4 class="mb-0">
                                    <button aria-controls="collapseFour" aria-expanded="false"
                                            class="btn btn-link collapsed" data-target="#collapseFour"
                                            data-toggle="collapse">
                                        <b class="text-dark">Is there a discount available for students enrolling in multiple courses?</b>
                                    </button>
                                </h4>
                            </div>
                            <div aria-labelledby="headingFour" class="collapse" data-parent="#accordion"
                                 id="collapseFour">
                                <div class="card-body">
                                    - Yes. All students enrolling in more than one course may avail of discounted fees.
                                    The price breakdown for multiple courses is detailed on the
                                    <a href="/membership">Membership</a> page.
                                </div>
                            </div>
                        </div>

                        <div class="card shadow">
                            <div class="card-header bg-warning" id="headingFive">
                                <h5 class="mb-0">
                                    <button aria-controls="collapseFive" aria-expanded="false"
                                            class="btn btn-link collapsed" data-target="#collapseFive"
                                            data-toggle="collapse">
                                        <b class="text-dark">How long do I have access to the coursework for?</b>
                                    </button>
                                </h5>
                            </div>
                            <div aria-labelledby="headingFive" class="collapse" data-parent="#accordion"
                                 id="collapseFive">
                                <div class="card-body">
                                    The coursework will be available to students for one school year (per
                                    subscription). This allows the student access to the chosen content from September
                                    through to June.
                                </div>
                            </div>
                        </div>

{#                        <div class="card">#}
{#                            <div class="card-header bg-warning" id="headingSix">#}
{#                                <h5 class="mb-0">#}
{#                                    <button aria-controls="collapseSix" aria-expanded="false"#}
{#                                            class="btn btn-link collapsed" data-target="#collapseSix"#}
{#                                            data-toggle="collapse">#}
{#                                        Question 6#}
{#                                    </button>#}
{#                                </h5>#}
{#                            </div>#}
{#                            <div aria-labelledby="headingSix" class="collapse" data-parent="#accordion"#}
{#                                 id="collapseSix">#}
{#                                <div class="card-body">#}
{#                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry#}
{#                                    richardson ad#}
{#                                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck#}
{#                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird#}
{#                                    on it#}
{#                                    squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh#}
{#                                    helvetica,#}
{#                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan#}
{#                                    excepteur#}
{#                                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic#}
{#                                    synth#}
{#                                    nesciunt you probably haven't heard of them accusamus labore sustainable VHS.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="card">#}
{#                            <div class="card-header bg-warning" id="headingSeven">#}
{#                                <h5 class="mb-0">#}
{#                                    <button aria-controls="collapseSeven" aria-expanded="false"#}
{#                                            class="btn btn-link collapsed" data-target="#collapseSeven"#}
{#                                            data-toggle="collapse">#}
{#                                        Question 7#}
{#                                    </button>#}
{#                                </h5>#}
{#                            </div>#}
{#                            <div aria-labelledby="headingSeven" class="collapse" data-parent="#accordion"#}
{#                                 id="collapseSeven">#}
{#                                <div class="card-body">#}
{#                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry#}
{#                                    richardson ad#}
{#                                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck#}
{#                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird#}
{#                                    on it#}
{#                                    squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh#}
{#                                    helvetica,#}
{#                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan#}
{#                                    excepteur#}
{#                                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic#}
{#                                    synth#}
{#                                    nesciunt you probably haven't heard of them accusamus labore sustainable VHS.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="card">#}
{#                            <div class="card-header bg-warning" id="headingEight">#}
{#                                <h5 class="mb-0">#}
{#                                    <button aria-controls="collapseEight" aria-expanded="false"#}
{#                                            class="btn btn-link collapsed" data-target="#collapseEight"#}
{#                                            data-toggle="collapse">#}
{#                                        Question 8#}
{#                                    </button>#}
{#                                </h5>#}
{#                            </div>#}
{#                            <div aria-labelledby="headingEight" class="collapse" data-parent="#accordion"#}
{#                                 id="collapseEight">#}
{#                                <div class="card-body">#}
{#                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry#}
{#                                    richardson ad#}
{#                                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck#}
{#                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird#}
{#                                    on it#}
{#                                    squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh#}
{#                                    helvetica,#}
{#                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan#}
{#                                    excepteur#}
{#                                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic#}
{#                                    synth#}
{#                                    nesciunt you probably haven't heard of them accusamus labore sustainable VHS.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="card">#}
{#                            <div class="card-header bg-warning" id="headingNine">#}
{#                                <h5 class="mb-0">#}
{#                                    <button aria-controls="collapseNine" aria-expanded="false"#}
{#                                            class="btn btn-link collapsed" data-target="#collapseNine"#}
{#                                            data-toggle="collapse">#}
{#                                        Question 9#}
{#                                    </button>#}
{#                                </h5>#}
{#                            </div>#}
{#                            <div aria-labelledby="headingNine" class="collapse" data-parent="#accordion"#}
{#                                 id="collapseNine">#}
{#                                <div class="card-body">#}
{#                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry#}
{#                                    richardson ad#}
{#                                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck#}
{#                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird#}
{#                                    on it#}
{#                                    squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh#}
{#                                    helvetica,#}
{#                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan#}
{#                                    excepteur#}
{#                                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic#}
{#                                    synth#}
{#                                    nesciunt you probably haven't heard of them accusamus labore sustainable VHS.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="card">#}
{#                            <div class="card-header bg-warning" id="headingTen">#}
{#                                <h5 class="mb-0">#}
{#                                    <button aria-controls="collapseTen" aria-expanded="false"#}
{#                                            class="btn btn-link collapsed" data-target="#collapseTen"#}
{#                                            data-toggle="collapse">#}
{#                                        Question 10#}
{#                                    </button>#}
{#                                </h5>#}
{#                            </div>#}
{#                            <div aria-labelledby="headingTen" class="collapse" data-parent="#accordion"#}
{#                                 id="collapseTen">#}
{#                                <div class="card-body">#}
{#                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry#}
{#                                    richardson ad#}
{#                                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck#}
{#                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird#}
{#                                    on it#}
{#                                    squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh#}
{#                                    helvetica,#}
{#                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan#}
{#                                    excepteur#}
{#                                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic#}
{#                                    synth#}
{#                                    nesciunt you probably haven't heard of them accusamus labore sustainable VHS.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- /.container -->
{% endblock %}