{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <header>
        <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
                <li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
                <li data-slide-to="2" data-target="#carouselExampleIndicators"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url({% static "img/slide1.jpg" %})" ;
                ">
                <div class="carousel-caption d-none d-md-block">
                    <!--            <h3>First Slide</h3>-->
                    <!--            <p>This is a description for the first slide.</p>-->
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <!--        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">-->
            <!--          <div class="carousel-caption d-none d-md-block">-->
            <!--            <h3>Second Slide</h3>-->
            <!--            <p>This is a description for the second slide.</p>-->
            <!--          </div>-->
            <!--        </div>-->
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <!--        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">-->
            <!--          <div class="carousel-caption d-none d-md-block">-->
            <!--            <h3>Third Slide</h3>-->
            <!--            <p>This is a description for the third slide.</p>-->
            <!--          </div>-->
            <!--        </div>-->
            <!--      </div>-->
            <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container-fluid">

        <section class="p-2">
            <div class="row bg-light">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-4">
                    <video controls height="100%" width="100%">
                        <source src="{% static "img/home_vid.mp4" %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-4">
                    <div class="p-1">
                        <h1>Login2Learn</h1>
                    </div>
                    <div class="p-1">
                        <p class="text-justify text-wrap">
                            Welcome to Login2Learn – the most accessible route for tutoring.
                        </p>
                        <p class="text-justify text-wrap">
                            We aim to provide effective, but easy to follow tutorials to our students. With numerous
                            years of experience in one-to-one grinds, we feel strongly about aiding our students in not
                            just learning, but understanding.
                        </p>

                        <p class="text-justify text-wrap">
                            Through our online tutorials and exam question solution videos, we provide a cost-effective
                            alternative to the traditional structured “grind”.
                        </p>

                        <p class="text-justify text-wrap">
                            Enrol today to unlock hours of guided learning content and exam-focused tutorials.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-2">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-auto">
                    <div class="p-4">
                        <div class="rounded bg-warning shadow p-3">
                            <div>
                                <h2 class="text-justify">Sign Up Now</h2>
                            </div>
                            <div>
                                <p>
                                    Sign up today to get full access to tutorials, exam solutions and a wide range of
                                    materials. With 24-hour access to your lessons, learn at your own pace, in an
                                    environment that you’re comfortable in.
                                </p>
                            </div>
                            <div class="p-2">
                                <btn class="btn btn-success">Sign Up</btn>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="p-2">
            <div class="row bg-light">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mx-auto align-items-center">
                    <div class="p-2">
                        <h1 class="text-center">What We Do</h1>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="row bg-light">

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 p-4">
                        <div class="p-3">
                            <div class="text-center mb-4">
                                <i class="fas fa-photo-video text-center" style="font-size: 1000%"></i>
                            </div>
                            <div class="text-center">
                                <h3>VIDEO TUTORIALS</h3>
                                <p>
                                    Our tutorial videos break down each subject into topic-by-topic analysis. Each
                                    chapter is closely linked with examination focused questioning to optimise
                                    technique.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 p-4">
                        <div class="p-3">
                            <div class="text-center mb-4">
                                <i class="fas fa-book text-center" style="font-size: 1000%"></i>
                            </div>
                            <div class="text-center">
                                <h3>EXAMINATION SOLUTIONS</h3>
                                <p>
                                    In-depth review of past examination questions, paired with answer structure. Hand in
                                    hand with tutorial notes, we help our students to form a systematic approach to
                                    answering questions.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 p-4">
                        <div class="p-3">
                             <div class="text-center mb-4">
                                <i class="fas fa-chalkboard-teacher text-center" style="font-size: 1000%"></i>
                            </div>
                            <div class="text-center">
                                <h3>STUDY SAMPLES</h3>
                                <p>
                                    Additional exam style questions, formed by our knowledgeable teachers –Our aiding our
                                    students in cementing new learning.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 p-4">
                        <div class="p-3">
                             <div class="text-center mb-4">
                                <i class="fas fa-file-signature text-center" style="font-size: 1000%"></i>
                            </div>
                            <div class="text-center">
                                <h3>STUDY PLANNING</h3>
                                <p>
                                    Our novel study tracker allows students to closely track their progress in accordance
                                    with their goals, to ensure that they utilise all resources usefully and
                                    effectively.
                                </p>
                            </div>
                        </div>
                    </div>

            </div>
        </section>


    </div>
{% endblock %}
<!-- /.container -->


