{% extends 'base.html' %}

{% block title %}{% block.super %} | Membership{% endblock %}

{% block content %}
    {% load static %}

<!-- Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row bg-light p-2">
        <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 mx-auto align-items-center">
            <div class="mx-auto text-center p-2">
                <h2 class="p-2">Membership</h2>
                <hr/>
                <p>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                    squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>
    </div>

    <div class="row mx-auto p-2">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h3 class="card-header">Basic</h3>
                <div class="card-body">
                    <div class="display-4">$19.99</div>
                    <div class="font-italic">per month</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">
                        <a class="btn btn-primary" href="#">Sign Up!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card card-outline-primary h-100">
                <h3 class="card-header bg-primary text-white">Plus</h3>
                <div class="card-body">
                    <div class="display-4">$39.99</div>
                    <div class="font-italic">per month</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">
                        <a class="btn btn-primary" href="#">Sign Up!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h3 class="card-header">Ultra</h3>
                <div class="card-body">
                    <div class="display-4">$159.99</div>
                    <div class="font-italic">per month</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">
                        <a class="btn btn-primary" href="#">Sign Up!</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}