{% extends 'base.html' %}

{% block title %}Login2Learn{% endblock %}
{% block content %}
    {% load static %}
<!-- Page Content -->
<div class="container-fluid">

    <!-- Testimonials Section -->
    <section id="testimonial" class="p-2">
        <div class="container-fluid">
            <div class="row bg-testimonial rounded shadow">
                <div class="col-12">
                    <div class="align-items-center p-2">
                        <h2 class="text-white text-center">Testimonials</h2>
                        <hr class="bg-white w-25 text-center">
                    </div>
                    <div class="carousel slide" data-ride="carousel" id="testimonialCarousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#testimonialCarousel"></li>
                            <li data-slide-to="1" data-target="#testimonialCarousel"></li>
                            <li data-slide-to="2" data-target="#testimonialCarousel"></li>
                        </ol>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="carousel-item active p-2">
                                 <div class="wrapper w-75 m-auto">
                                    <div class="d-flex">
                                    <div class="d-inline-block p-1 mr-1">
                                        <img class="img img-fluid rounded-circle shadow" src="http://placehold.it/240x240"/>
                                        <h5 class="text-white text-center m-1"><b>Calum O' Brien</b></h5>
                                         <h6 class="text-white-50 text-center m-1"><b>CEO & Founder</b></h6>
                                    </div>

                                    <div class="d-inline-block p-3 w-75">
                                        <h5 class="text-justify text-white text-wrap">
                                            Calum O' Brien dolor sit amet, consectetur adipiscing elit. Curabitur felis
                                            ligula,
                                            imperdiet sit
                                            amet molestie quis, facilisis eu est. Mauris ultrices eget ante nec
                                            ultricies.
                                            Praesent quis
                                            neque dignissim, congue lorem nec, egestas metus. Duis eleifend lectus in mi
                                            molestie imperdiet.
                                        </h5>
                                    </div>

                            </div>
                                 </div>
                            </div>
                         <div class="carousel-item p-2">
                                 <div class="wrapper w-75 m-auto">
                                    <div class="d-flex">
                                     <div class="d-inline-block p-1 mr-1">
                                        <img class="img img-fluid rounded-circle shadow" src="http://placehold.it/240x240"/>
                                        <h5 class="text-white text-center m-1"><b>Andrew O' Donovan</b></h5>
                                         <h6 class="text-white-50 text-center m-1"><b>Full Stack Developer</b></h6>
                                    </div>

                                    <div class="d-inline-block p-3 w-75">
                                        <h5 class="text-justify text-white text-wrap">
                                            Andrew O' Donovan dolor sit amet, consectetur adipiscing elit. Curabitur felis
                                            ligula,
                                            imperdiet sit
                                            amet molestie quis, facilisis eu est. Mauris ultrices eget ante nec
                                            ultricies.
                                            Praesent quis
                                            neque dignissim, congue lorem nec, egestas metus. Duis eleifend lectus in mi
                                            molestie imperdiet.
                                        </h5>
                                    </div>

                            </div>
                                 </div>
                            </div>
                           <div class="carousel-item p-2">
                                 <div class="wrapper w-75 m-auto">
                                    <div class="d-flex">
                                      <div class="d-inline-block p-1 mr-1">
                                        <img class="img img-fluid rounded-circle shadow" src="http://placehold.it/240x240"/>
                                        <h5 class="text-white text-center mt-1"><b>Luke Dunlea</b></h5>
                                         <h6 class="text-white-50 text-center mt-1"><b>Lead Operative</b></h6>
                                    </div>

                                    <div class="d-inline-block p-3 w-75">
                                        <h5 class="text-justify text-white text-wrap">
                                            Luke Dunlea dolor sit amet, consectetur adipiscing elit. Curabitur felis
                                            ligula,
                                            imperdiet sit
                                            amet molestie quis, facilisis eu est. Mauris ultrices eget ante nec
                                            ultricies.
                                            Praesent quis
                                            neque dignissim, congue lorem nec, egestas metus. Duis eleifend lectus in mi
                                            molestie imperdiet.
                                        </h5>
                                    </div>

                            </div>
                                 </div>
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control-prev" data-slide="prev" href="#testimonialCarousel">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" data-slide="next" href="#testimonialCarousel">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>

                </div>

            </div>
        </div>




    </section>


    <!-- End testimonials Section -->

</div>
<!-- /.container -->
{% endblock %}